127.0.0.1 localhost.localdomain localhost
169.50.129.253 techlab.emea-dst.cloud techlab

{% for dnsmasq_clusterinfo in all_vars %}
{% if 'master' in dnsmasq_clusterinfo.type %}
{{dnsmasq_clusterinfo.ipaddress}}  {{dnsmasq_clusterinfo.name}}.{{clustername}}.{{dns}}
{{dnsmasq_clusterinfo.ipaddress}}  {{dnsmasq_clusterinfo.etcd_name}}.{{clustername}}.{{dns}}
{% else %}
{{dnsmasq_clusterinfo.ipaddress}}  {{dnsmasq_clusterinfo.name}}.{{clustername}}.{{dns}}
{% endif %}
{% endfor %}
