{% for dnsmasq_clusterinfo in all_vars %}
{% if 'master3' in dnsmasq_clusterinfo.name %}
{
    "id": {{dnsmasq_clusterinfo.name}},
    "name": {{dnsmasq_clusterinfo.name}},
    "profile": {{dnsmasq_clusterinfo.type}},
    "selector": {
      "mac": {{dnsmasq_clusterinfo.mac_address}}
    }
}
{% endif %}
{% endfor %}