{% for dnsmasq_clusterinfo in all_vars %}
{% if 'master' in dnsmasq_clusterinfo.name %}
dhcp-host={{dnsmasq_clusterinfo.mac_address}},{{dnsmasq_clusterinfo.ipaddress}}
address=/{{dnsmasq_clusterinfo.name}}.{{clustername}}.{{dns}}/{{dnsmasq_clusterinfo.ipaddress}}
ptr-record={{dnsmasq_clusterinfo.ptr_record}},{{dnsmasq_clusterinfo.name}}.{{clustername}}.{{dns}}
address=/{{dnsmasq_clusterinfo.etcd_name}}.{{clustername}}.{{dns}}/{{dnsmasq_clusterinfo.ipaddress}}
srv-host=_etcd-server-ssl._tcp.{{clustername}}.{{dns}},{{dnsmasq_clusterinfo.etcd_name}}.{{clustername}}.{{dns}},{{dnsmasq_clusterinfo.port}}
{% else %}
dhcp-host={{dnsmasq_clusterinfo.mac_address}},{{dnsmasq_clusterinfo.ipaddress}}
address=/{{dnsmasq_clusterinfo.name}}.{{clustername}}.{{dns}}/{{dnsmasq_clusterinfo.ipaddress}}
ptr-record={{dnsmasq_clusterinfo.ptr_record}},{{dnsmasq_clusterinfo.name}}.{{clustername}}.{{dns}}
{% endif %}
{% endfor %}